<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssv.com.mapper.HistoryMapper">
	<resultMap type="History" id="historyMapping">
		<id column="history_id" property="idHistory" />
		<result column="id_member" property="idMember" />
		<result column="id_team" property="idTeam" />
		<result column="id_tour" property="idTournament" />
		<association property="profile">
			<id property="id" column="profile_id" />
			<result property="name" column="profile_name" />
			<result property="email" column="profile_email" />
			<result property="phone" column="profile_phone" />
			<result property="age" column="profile_age" />
			<result property="gender" column="profile_gender" />
			<result property="country" column="profile_country" />
			<result property="avatar" column="profile_avatar" />
			<result property="idTeam" column="id_team" />
			<result property="position" column="profile_position" />
			<result property="createDate" column="profile_datecreate" />
		</association>
	</resultMap>

	<insert id="create" parameterType="History">
		INSERT INTO
		`sports`.`history_tbl`
		(id_member,id_team,
		id_tour)
		VALUES
		(#{idMember},
		#{idTeam}, #{idTournament});
	</insert>
	<delete id="delete">
		DELETE FROM `sports`.`history_tbl` WHERE (`id_tour` =
		${idTournament});
	</delete>
	<delete id="deleteTeam">
		DELETE FROM `sports`.`history_tbl` WHERE (`id_tour` = ${idTournament} and
		id_team=${idTeam});
	</delete>

	<select id="historyMember" resultMap="historyMapping">
		SELECT * FROM
		sports.history_tbl inner join profile_tbl on
		history_tbl.id_member=profile_tbl.profile_id where
		history_tbl.id_tour=${idTour} and history_tbl.id_team=${idTeam};
	</select>

	<select id="getToursByTeam" resultMap="historyMapping">
		select * from `sports`.`history_tbl`
		where id_team=${idTeam};
	</select>

</mapper>
