<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssv.com.mapper.ProfileMapper">

	<resultMap type="Profile" id="profileMapping">
		<id property="id" column="profile_id" />
		<result property="name" column="profile_name" />
		<result property="email" column="profile_email" />
		<result property="phone" column="profile_phone" />
		<result property="age" column="profile_age" />
		<result property="gender" column="profile_gender" />
		<result property="country" column="profile_country" />
		<result property="avatar" column="profile_avatar" />
		<result property="position" column="profile_position" />
		<result property="createDate" column="profile_datecreate" />
		<result property="idTeam" column="id_team" />

	</resultMap>

	<insert id="saveProfile" flushCache="true"
		statementType="PREPARED" useGeneratedKeys="true"
		keyColumn="profile_id" keyProperty="id">
		INSERT INTO profile_tbl(
		profile_name, profile_email, profile_phone, profile_age,
		profile_gender, profile_country, profile_position ,profile_avatar,
		profile_datecreate )
		VALUES( #{name}, #{email}, #{phone}, #{age},
		#{gender}, #{country},
		#{position}, #{avatar}, #{createDate} );
	</insert>

	<select id="findByEmail" flushCache="true"
		statementType="PREPARED" resultType="Profile"
		resultMap="profileMapping">
		SELECT * FROM profile_tbl WHERE
		profile_email='${email}'
	</select>

	<select id="checkPhoneExist" flushCache="true"
		statementType="PREPARED" resultType="Profile"
		resultMap="profileMapping">
		SELECT * FROM profile_tbl WHERE
		profile_phone='${phone}'
	</select>

	<select id="getMembers" resultMap="profileMapping">
		SELECT p.*, t.*
		FROM
		profile_tbl p
		left JOIN account_tbl a ON p.profile_email =
		a.account_email
		left join team_tbl t on t.team_id = p.id_team
		WHERE
		account_role = 'ROLE_MEMBER' ORDER BY a.account_id DESC
	</select>

	<update id="updateMembersInTeam">
		update profile_tbl set id_team = 0 where
		id_team = ${idTeam};

		<foreach collection="profile" item="item" index="index"
			separator=";">
			update profile_tbl set id_team = #{idTeam} where id =
			${item.id}
		</foreach>
	</update>
</mapper>
