<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssv.com.mapper.ScheduleMapper">
	<resultMap type="Schedule" id="scheduleMapping">
		<id column="schedule_id" property="idSchedule" />
		<result column="schedule_score1" property="score1" />
		<result column="schedule_score2" property="score2" />
		<result column="schedule_status" property="status" />
		<result column="schedule_location" property="location" />
		<result column="schedule_tour" property="idTour" />
		<result column="schedule_start" property="timeStart" />
		<result column="schedule_end" property="timeEnd" />
		<result column="schedule_team1" property="idTeam1" />
		<result column="schedule_team2" property="idTeam2" />
		<result column="schedule_image" property="image" />
		<result column="schedule_video" property="video" />
	</resultMap>
	<select id="getAll" resultMap="scheduleMapping">
		SELECT * FROM
		sports.schedule_tbl
	</select>

	<select id="getByTournament" resultMap="scheduleMapping">
		SELECT * FROM
		sports.schedule_tbl where schedule_tour=${idTour}
	</select>
	<select id="getById" resultMap="scheduleMapping">
		SELECT * FROM sports.schedule_tbl
		where schedule_id=${idSchedule}
	</select>
	<delete id="delete">
		DELETE FROM `sports`.`schedule_tbl` WHERE (`schedule_id` = ${idSchedule});
	</delete>
	<insert id="create" parameterType="Schedule">
		INSERT INTO
		`sports`.`schedule_tbl`
		(schedule_team1,schedule_team2,
		schedule_tour,schedule_location)
		VALUES
		(#{idTeam1},
		#{idTeam2},
		#{idTour},#{location});
	</insert>
	<update id="edit" parameterType="Schedule">
		UPDATE `sports`.`schedule_tbl` SET `schedule_team1` = #{idTeam1}
		,schedule_team2=#{idTeam2},schedule_location=#{location} WHERE
		(`schedule_id` = #{idSchedule});

	</update>
	<update id="updateStatus">
	UPDATE `sports`.`schedule_tbl` SET schedule_status='1'
	</update>
</mapper>
