<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssv.com.mapper.ScheduleMapper">
	<resultMap type="Schedule" id="scheduleMapping">
		<id column="schedule_id" property="idSchedule" />
		<result column="schedule_score1" property="score1" />
		<result column="schedule_score2" property="score2" />
		<result column="schedule_status" property="status" />
		<result column="schedule_location" property="location" />
		<result column="schedule_tour" property="idTour" />
		<result column="schedule_start" property="timeStart" />
		<result column="schedule_end" property="timeEnd" />
		<result column="schedule_team1" property="idTeam1" />
		<result column="schedule_team2" property="idTeam2" />
		<result column="schedule_image" property="image" />
		<result column="schedule_video" property="video" />
		<result column="schedule_winner" property="winner" />
		<result column="schedule_adraw" property="adraw" />

		<association property="tournament">
			<id column="tournament_id" property="idTournament" />
			<result column="tournament_name" property="nameTournament" />
			<result column="tournament_status" property="status" />
			<result column="tournament_end" property="timeEnd" />
			<result column="tournament_start" property="timeStart" />
			<result column="tournament_description" property="description" />
			<result column="tournament_banner" property="banner" />
		</association>
		<collection property="team" ofType="Team">
			<id column="team_id" property="idTeam" />
			<result column="team_name" property="nameTeam" />
			<result column="team_description" property="description" />
			<result column="team_logo" property="logo" />
			<result column="id_tour" property="idTour" />
			<result column="team_country" property="country" />
			<result column="team_datecreate" property="createDate" />
			<collection property="profile" ofType="Profile">
				<id property="id" column="profile_id" />
				<result property="name" column="profile_name" />
				<result property="email" column="profile_email" />
				<result property="phone" column="profile_phone" />
				<result property="age" column="profile_age" />
				<result property="gender" column="profile_gender" />
				<result property="country" column="profile_country" />
				<result property="avatar" column="profile_avatar" />
				<result property="idTeam" column="id_team" />
				<result property="position" column="profile_position" />
				<result property="createDate" column="profile_datecreate" />
			</collection>
		</collection>
		<collection property="goal" ofType="Goal">
			<id property="idGoal" column="goal_id" />
			<result property="idSchedule" column="id_schedule" />
			<result property="idMember" column="member_id" />
			<result property="time" column="goal_time" />
			<result property="team" column="goal_team" />
		</collection>

	</resultMap>
	<select id="getAll" resultMap="scheduleMapping">
		SELECT * FROM
		sports.schedule_tbl
		inner join tournament_tbl on
		schedule_tbl.schedule_tour=tournament_tbl.tournament_id inner join
		(team_tbl inner join profile_tbl on
		team_tbl.team_id=profile_tbl.id_team) on
		team_tbl.team_id=schedule_tbl.schedule_team1 or
		team_tbl.team_id=schedule_tbl.schedule_team2
		order by
		schedule_tbl.schedule_id
		DESC
	</select>

	<select id="getByTournament" resultMap="scheduleMapping">
		SELECT * FROM
		sports.schedule_tbl
		inner join tournament_tbl on
		schedule_tbl.schedule_tour=tournament_tbl.tournament_id inner join
		(team_tbl inner join profile_tbl on
		team_tbl.team_id=profile_tbl.id_team) on (
		team_tbl.team_id=schedule_tbl.schedule_team1 or
		team_tbl.team_id=schedule_tbl.schedule_team2) left join goal_tbl on
		schedule_tbl.schedule_id=goal_tbl.id_schedule where
		schedule_tour=${idTour}
	</select>
	<select id="getById" resultMap="scheduleMapping">
		SELECT * FROM
		sports.schedule_tbl
		inner join tournament_tbl on
		schedule_tbl.schedule_tour=tournament_tbl.tournament_id inner join
		(team_tbl inner join profile_tbl on
		team_tbl.team_id=profile_tbl.id_team) on (
		team_tbl.team_id=schedule_tbl.schedule_team1 or
		team_tbl.team_id=schedule_tbl.schedule_team2) left join goal_tbl on
		schedule_tbl.schedule_id=goal_tbl.id_schedule
		where
		schedule_id=${idSchedule}
		order by schedule_tbl.schedule_start
		DESC

	</select>
	<delete id="delete">
		DELETE FROM `sports`.`schedule_tbl` WHERE
		(`schedule_id` = ${idSchedule});
	</delete>
	<insert id="create" parameterType="Schedule">
		INSERT INTO
		`sports`.`schedule_tbl`
		(schedule_team1,schedule_team2,
		schedule_start,
		schedule_tour,schedule_location)
		VALUES
		(#{idTeam1},
		#{idTeam2},#{timeStart},
		#{idTour},#{location});
	</insert>
	<update id="edit" parameterType="Schedule">
		UPDATE `sports`.`schedule_tbl`
		SET `schedule_team1` = #{idTeam1}
		,schedule_team2=#{idTeam2},schedule_location=#{location},schedule_start=#{timeStart}
		WHERE
		(`schedule_id` = #{idSchedule});

	</update>
	<update id="onGame">
		UPDATE `sports`.`schedule_tbl` SET
		schedule_status='1' where schedule_id=${idSchedule}
	</update>

	<select id="teamTotalMatch" resultType="Int">
		SELECT COUNT(schedule_id) FROM schedule_tbl where
		(schedule_tbl.schedule_team1=${idTeam} or schedule_tbl.schedule_team2=${idTeam}) and
		schedule_tbl.schedule_status=2
	</select>
	<select id="teamAdraw" resultType="Int">
	SELECT COUNT(schedule_id) FROM schedule_tbl where
		(schedule_tbl.schedule_team1=${idTeam} or schedule_tbl.schedule_team2=${idTeam})and schedule_tbl.schedule_adraw and
		schedule_tbl.schedule_status=2
	</select>
	<select id="teamTotalWin" resultType="Int">
		SELECT COUNT(schedule_id)
		FROM schedule_tbl where schedule_tbl.schedule_winner=${idTeam} ;
	</select>
	<select id="teamTotalMatchByTour" resultType="Int">
		SELECT
		COUNT(schedule_id)
		FROM schedule_tbl where
		(schedule_tbl.schedule_team1=${idTeam} or
		schedule_tbl.schedule_team2=${idTeam} ) and
		schedule_tbl.schedule_tour=${idTour} and schedule_tbl.schedule_status=2 and schedule_tbl.schedule_tour=${idTour};
	</select>
	<select id="teamTotalWinByTour" resultType="Int">
		SELECT
		COUNT(schedule_id)
		FROM schedule_tbl where
		schedule_tbl.schedule_tour=${idTour} and
		schedule_tbl.schedule_winner=${idTeam}  ;
	</select> 
	<select id="teamTotalAdrawByTour" resultType="int">
		SELECT
		COUNT(schedule_id)
		FROM schedule_tbl where
		(schedule_tbl.schedule_team1=${idTeam} or
		schedule_tbl.schedule_team2=${idTeam} ) and
		schedule_tbl.schedule_tour=${idTour} and
		schedule_tbl.schedule_adraw=1 ;
	</select>
	<update id="udapte">
		UPDATE `sports`.`schedule_tbl` SET `schedule_image` =
		'${image}'
		,schedule_video='${video}',schedule_score1=${score1},schedule_score2=${score2},schedule_winner=${winner}
		, schedule_adraw=${adraw},schedule_end='${timeEnd}',schedule_status=2 WHERE
		(`schedule_id`
		= ${idSchedule});

	</update>
	<delete id="deleteByTeamTour">
		DELETE FROM `sports`.`schedule_tbl` WHERE
		(`schedule_team1` = ${idTeam} or schedule_team2=${idTeam}) and
		schedule_tour=${idTournament};
	</delete>
	<delete id="deleteByTour">
		DELETE FROM `sports`.`schedule_tbl` WHERE
		schedule_tour=${idTournament};
	</delete>
	<select id="getByStatus" resultMap="scheduleMapping">
		SELECT * FROM
		sports.schedule_tbl
		inner join tournament_tbl on
		schedule_tbl.schedule_tour=tournament_tbl.tournament_id inner join
		(team_tbl inner join profile_tbl on
		team_tbl.team_id=profile_tbl.id_team) on (
		team_tbl.team_id=schedule_tbl.schedule_team1 or
		team_tbl.team_id=schedule_tbl.schedule_team2 )left join goal_tbl on
		schedule_tbl.schedule_id=goal_tbl.id_schedule
		where
		schedule_status=${status}
		order by schedule_tbl.schedule_start
		
	</select>
	<select id="teamResults" resultMap="scheduleMapping">
	SELECT * FROM sports.schedule_tbl inner join team_tbl on (
		team_tbl.team_id=schedule_tbl.schedule_team1 or
		team_tbl.team_id=schedule_tbl.schedule_team2 ) where( schedule_tbl.schedule_team1=${idTeam} or schedule_tbl.schedule_team2=${idTeam}) and schedule_tbl.schedule_tour=${idTournament};
	</select>
	<select id="teamLastResults" resultMap="scheduleMapping">
		SELECT * FROM sports.schedule_tbl inner join tournament_tbl on
		schedule_tbl.schedule_tour=tournament_tbl.tournament_id inner join team_tbl on (
		team_tbl.team_id=schedule_tbl.schedule_team1 or
		team_tbl.team_id=schedule_tbl.schedule_team2 ) where( schedule_tbl.schedule_team1=${idTeam} or schedule_tbl.schedule_team2=${idTeam}) and schedule_tbl.schedule_status=2 order by schedule_tbl.schedule_start desc ;
	
	
	</select>
	<select id="scheduleTeam"  resultMap="scheduleMapping" >
		SELECT * FROM sports.schedule_tbl inner join tournament_tbl on
		schedule_tbl.schedule_tour=tournament_tbl.tournament_id inner join team_tbl on (
		team_tbl.team_id=schedule_tbl.schedule_team1 or
		team_tbl.team_id=schedule_tbl.schedule_team2 ) where( schedule_tbl.schedule_team1=${idTeam} or schedule_tbl.schedule_team2=${idTeam}) and schedule_tbl.schedule_status!=2 order by schedule_tbl.schedule_start desc ;
	
	
	</select>
</mapper>
