<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssv.com.mapper.TeamMapper">
	<resultMap type="Team" id="teamMapping">
		<id column="id_team" property="idTeam" />
		<result column="team_name" property="nameTeam" />
		<result column="team_description" property="description" />
		<result column="team_logo" property="logo" />
		<result column="id_tour" property="idTour" />
		<result column="team_datecreate" property="createDate" />

		<association property="tournament">
			<id property="idTour" column="tournament_id" />
			<result property="nameTour" column="tournament_name" />
		</association>

		<collection property="profile" ofType="Profile"
			notNullColumn="id">
			<id property="id" column="profile_id" />
			<result property="name" column="profile_name" />
			<result property="email" column="profile_email" />
			<result property="phone" column="profile_phone" />
			<result property="age" column="profile_age" />
			<result property="gender" column="profile_gender" />
			<result property="country" column="profile_country" />
			<result property="avatar" column="profile_avatar" />
			<result property="idTeam" column="id_team" />
			<result property="position" column="profile_position" />
			<result property="createDate" column="profile_datecreate" />
		</collection>
	</resultMap>

	<select id="getTeams" resultMap="teamMapping">
		SELECT p.*, t.*, c.* FROM team_tbl
		p
		left join profile_tbl c on p.team_id = c.id_team
		left join
		tournament_tbl t on p.id_tour = t.tournament_id order by p.team_id
		desc
	</select>
</mapper>
