<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssv.com.mapper.TournamentMapper">
	<resultMap type="Tournament" id="tournamentMapping">
		<id column="tournament_id" property="idTournament" />
		<result column="tournament_name" property="nameTournament" />
		<result column="tournament_status" property="status" />
		<result column="tournament_end" property="timeEnd" />
		<result column="tournament_start" property="timeStart" />
		<result column="tournament_description" property="description" />
		<result column="tournament_banner" property="banner" />
	</resultMap>
	<select id="getAll" resultMap="tournamentMapping">
		SELECT * FROM
		sports.tournament_tbl;
	</select>
	<insert id="create" parameterType="Tournament">
		INSERT INTO
		`sports`.`tournament_tbl`
		(tournament_name,
		tournament_end,tournament_start,
		tournament_description,
		tournament_banner)
		VALUES
		(#{nameTournament},#{timeEnd}, #{timeStart},
		#{description}, #{banner});

	</insert>
	<select id="getIdNew" resultType="Int">
		SELECT MAX(tournament_id) from
		tournament_tbl
	</select>
	<select id="getById" resultMap="tournamentMapping">
		SELECT * FROM
		sports.tournament_tbl where tournament_id=${idTournamnet}
	</select>

	<update id="update">
		UPDATE `sports`.`tournament_tbl`
		SET `tournament_name` = #{nameTournament} ,`tournament_timeEnd` = #{timeEnd},
		`tournament_timeStart` = #{timeStart},`tournament_description` = #{description},
		`tournament_banner`=#{banner} WHERE (`tournament_id` = ${idTournamnet});
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM `sports`.`tournament_tbl` WHERE (`tournament_id` = ${idTournament});

	</delete>
</mapper>
