<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssv.com.mapper.TournamentMapper">
	<resultMap type="Tournament" id="tournamentMapping">
		<id column="tournament_id" property="idTournament" />
		<result column="tournament_name" property="nameTournament" />
		<result column="tournament_status" property="status" />
		<result column="tournament_end" property="timeEnd" />
		<result column="tournament_start" property="timeStart" />
		<result column="tournament_description" property="description" />
		<result column="tournament_banner" property="banner" />
		<collection property="team" ofType="Team">
			<id column="team_id" property="idTeam" />
			<result column="team_name" property="nameTeam" />
			<result column="team_description" property="description" />
			<result column="team_logo" property="logo" />
			<result column="id_tour" property="idTour" />
			<result column="team_country" property="country" />
			<result column="team_datecreate" property="createDate" />

			<collection property="profile" ofType="Profile">
				<id property="id" column="profile_id" />
				<result property="name" column="profile_name" />
				<result property="email" column="profile_email" />
				<result property="phone" column="profile_phone" />
				<result property="age" column="profile_age" />
				<result property="gender" column="profile_gender" />
				<result property="country" column="profile_country" />
				<result property="avatar" column="profile_avatar" />
				<result property="idTeam" column="id_team" />
				<result property="position" column="profile_position" />
				<result property="createDate" column="profile_datecreate" />
			</collection>
		</collection>
		<collection property="schedule" ofType="Schedule">
			<id column="schedule_id" property="idSchedule" />
			<result column="schedule_score1" property="score1" />
			<result column="schedule_score2" property="score2" />
			<result column="schedule_status" property="status" />
			<result column="schedule_location" property="location" />
			<result column="schedule_tour" property="idTour" />
			<result column="schedule_start" property="timeStart" />
			<result column="schedule_end" property="timeEnd" />
			<result column="schedule_team1" property="idTeam1" />
			<result column="schedule_team2" property="idTeam2" />
			<result column="schedule_image" property="image" />
			<result column="schedule_video" property="video" />
			<result column="schedule_winner" property="winner"/>
			<result column="schedule_adraw" property="adraw"/>
		</collection>
	</resultMap>
	<select id="getAll" resultMap="tournamentMapping">
		SELECT * FROM
		sports.tournament_tbl p left join (history_tbl q left join
		team_tbl d
		on q.id_team=d.team_id left join
		profile_tbl e on q.id_member=e.profile_id)on
		p.tournament_id=q.id_tour  left join
		schedule_tbl c on
		p.tournament_id=c.schedule_tour ORDER BY tournament_id DESC
	</select>
	<insert id="create" parameterType="Tournament">
		INSERT INTO
		`sports`.`tournament_tbl`
		(tournament_name,
		tournament_end,tournament_start,
		tournament_description,
		tournament_banner)
		VALUES
		(#{nameTournament},#{timeEnd}, #{timeStart},
		#{description}, #{banner});

	</insert>
	<select id="getIdNew" resultType="Int">
		SELECT MAX(tournament_id) from
		tournament_tbl
	</select>
	<select id="getById" resultMap="tournamentMapping">
		SELECT * FROM
		sports.tournament_tbl p left join (history_tbl q left join
		team_tbl d
		on q.id_team=d.team_id left join
		profile_tbl e on q.id_member=e.profile_id)on
		p.tournament_id=q.id_tour  left join
		schedule_tbl c on
		p.tournament_id=c.schedule_tour where
		tournament_id=${idTournamnet} 
	</select>

	<update id="update">
		UPDATE `sports`.`tournament_tbl`
		SET `tournament_name`
		= #{nameTournament} ,`tournament_timeEnd` = #{timeEnd},
		`tournament_timeStart` = #{timeStart},`tournament_description` =
		#{description},
		`tournament_banner`=#{banner} WHERE (`tournament_id` =
		${idTournamnet});
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM
		`sports`.`tournament_tbl` WHERE (`tournament_id` = ${idTournament});

	</delete>
	<select id="tournamentUpComming" resultMap="tournamentMapping">
		SELECT * FROM
		sports.tournament_tbl left join schedule_tbl on
		tournament_tbl.tournament_id =schedule_tbl.schedule_tour inner join
		(team_tbl inner join profile_tbl on
		team_tbl.team_id=profile_tbl.id_team) on
		tournament_tbl.tournament_id=team_tbl.id_tour where
		tournament_status!=2
	</select>
	<select id="tournamentStatus" resultMap="tournamentMapping">
			SELECT * FROM
		sports.tournament_tbl p left join (history_tbl q left join
		team_tbl d
		on q.id_team=d.team_id left join
		profile_tbl e on q.id_member=e.profile_id)on
		p.tournament_id=q.id_tour  left join
		schedule_tbl c on
		p.tournament_id=c.schedule_tour where
		tournament_status=${status}
		 order by tournament_start
	</select>
	<update id="ongGame">
	UPDATE `sports`.`tournament_tbl`
		SET tournament_status=1 WHERE (`tournament_id` =
		${idTournamnet});
	</update>
	<update id="finished">
	UPDATE `sports`.`tournament_tbl` SET tournament_status=2 WHERE (`tournament_id` =
		${idTournamnet});
	</update>

</mapper>
